{% extends "base.html" %}
{% block title %} Details {% endblock title %}
{% block content %}
    
    <section>
        <div class="mt-8 mb-8">
            <h1 class="text-center text-[35px] font-bold">Students Details</h1>
            <div class="w-[1100px] mx-auto mt-3">
                <div class="relative rounded-xl bg-[url('https://www.publicdomainpictures.net/pictures/300000/nahled/banner-15631104348kO.jpg')] bg-cover bg-center bg-no-repeat  h-[300px]">
                
                    <img class="absolute ring-3 object-cover w-[200px] h-[200px] rounded-full left-15 bottom-[-7rem]" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOeZjZWEr4oFmJhILQQgTy7-WUX9BmRrAAFw&s" alt="">
                </div>
                <div class="mt-2 flex justify-between ml-[280px] mr-[20px] font-bold">
                    <div>
                        <p class="text-[30px]">Md. Hasan Khan</p>
                        <p>hasan@gmaill.com</p>
                    </div>
                    <div>
                        <p>Electrical</p>
                        <p>01799691266</p>
                    </div>
                </div>
                <div class="mt-[50px] ml-8">
                    <p class="font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus porro ipsam, quasi, blanditiis error eius doloribus dolores libero harum sunt architecto ducimus ab itaque animi, ad unde modi nisi a. Est vero, eius quos, aliquid reiciendis repellat officia animi natus repellendus quia, sed corrupti quisquam quibusdam consectetur illo dicta veritatis magnam? Non assumenda, culpa accusamus voluptas asperiores repellendus qui veritatis quidem sit necessitatibus, distinctio sed placeat? Itaque, atque commodi libero nihil inventore aut pariatur. Voluptas, asperiores facilis modi veritatis placeat id ipsa nam, eius fugit expedita cumque? Ipsam qui reprehenderit nemo mollitia neque dicta. Veritatis ipsum alias excepturi hic et.</p>
                </div>
                
            
            </div>
           
        </div>
    </section>
  
{% endblock content %}