<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title> {% block title %} {% endblock title %} </title>
  </head>
  <body>
    <header>
      <div class="bg-purple-200 w-full rounded-b-3 shadow-lg">
        <div class="container mx-auto h-[60px] flex justify-between items-center">
            <div class="text-xl font-bold flex hover:bg-red-800/3 rounded-lg py-2 px-2 cursor-pointer">Student <span class="text-red-600">App</span></div>
            <div>
              <ul class="flex justify-between gap-[20px] text-md font-semibold text-red-800 cursor-pointer">
                <li class="hover:text-red-700 hover:bg-red-800/6 py-2 px-2 rounded-lg">Students</li>
                <li class="hover:text-red-700 hover:bg-red-800/6 py-2 px-2 rounded-lg">Create Student</li>
                <li class="hover:text-red-700 hover:bg-red-800/6 py-2 px-2 rounded-lg">About Us</li>
                <li class="hover:text-red-700 hover:bg-red-800/6 py-2 px-2 rounded-lg">Contact Us</li>
              </ul>
            </div>
            <div class="hover:bg-red-800/8 rounded-lg py-2 px-3">
              <div class="bg-purple-400 rounded py-2 px-2 font-semibold cursor-pointer">Sign Up</div>
            </div>
        </div>
      </div>
    </header>
    <div class="container mx-auto">
      
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% block content %}
      
      {% endblock content %}
    </div>

    <footer>
      <div class="items-center flex justify-center gap-2 w-full h-[80px] bg-gray-700 text-white">
        <p class="text-xl">&#169;</p>
        <p class="text-xl">Md. Hasan Khan</p>
      </div>
    </footer>
  </body>
</html>